<h1>My Shopping List</h1>

<table>
<!--   <thead>
    <tr>
      <th>Name</th>
      <th>(Quantity)</th>
      <th>Completed?</th>
      <th>Actions</th>

    </tr>
  </thead> -->

  	<ul class='list'>
    	<% @items.each do |item| %>
      	<li>
        <%= item.name %>
        (<%= item.quantity %>)
        <%= item.is_completed %>
        <span class="links">
          <%= link_to 'Details', item %>
        	<%= link_to 'Edit', edit_item_path(item) %>
        	<%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      	</span>
    <% end %>
</table>

<br><br><br>
<h1><%= @add %></h1>
<br>
<br>
<br>

<%= link_to 'New Item', new_item_path, class: "button" %>
<h1>I'm gonna show everything!</h1>
<%= link_to 'Show Everything', items_path(show_all: "true"), class: "button" %>
