<h1>Movie Search</h1>

<!-- Display the movie search box. Uses the 'get' method instead of 'post' -->
<%= form_tag pages_path, :method => 'get' do %>
    <%= text_field_tag :movie, params[:movie] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<br>
Not sure which movie you want? Try <%= link_to "Cars" , pages_path(movie: "cars") %>

<hr>

<br>

<% @movies.each do |movie| %>
	<h2><%= movie["title"] %></h2>
	<%= image_tag movie["posters"]["detailed"] %>

	<table>
		<tr>
			<th style="text-align: right">Keys</th>
			<th style="text-align: left">Values</th>
		</tr>
		<% movie.each do |k,v| %>
			<tr> 
				<td style="text-align: right; border:1px solid black"><strong><%= k.to_s %></strong></td>
				<td style="text-align: left; border:1px solid black"><%= v.to_s %></td>
			</tr>
		<% end %>
	</table>
<% end %>


<pre> <%= @movie.to_yaml %> </pre>

<!-- INSERT CODE HERE -->
<!-- Display the @movie title in an <h2></h2> tag -->

<!-- Display the ['posters']['profile'] poster using the rails image_tag helper -->

<!-- Loop through the @movie hash using: 

<!-- Display each key and value (AKA the movie info) -->

